<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Músicos CFC | Canciones</title>
        <meta charset="utf-8">
        <link rel="icon" href="{% static 'logo.ico' %}">
        <link rel="stylesheet" href="{% static 'layout.css' %}">
    </head>

    <body>
        <h1>Canciones CFC</h1>
        <br>
        <div>
            <table>
                <tr>
                    <td>
                        <a href="list/">Ver lista</a>
                    </td>
                    <td>
                        <a href="add/">Agregar canción</a>
                    </td>
                    <td>
                        <a href="/"> Volver </a>
                    </td>
                </tr>
            </table> 
        </div>

    </body>
</html>