<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Músicos CFC | Home</title>
        <meta charset="utf-8">
        <link rel="icon" href="{% static 'logo.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'layout.css' %}">

    </head>

    <body>
        <h1> Grupo Alabanza CFC</h1>
        <br>
        <div>
            <table>
                <tr>
                    <td>
                        <a href="/songs/">Canciones</a>
                    </td>
                    <td>
                        <a href="/sched/">Cronogramas</a>
                    </td>
                </tr>
            </table>
        </div>

    </body>
</html>